<footer>
  <div class="w-11/12 mx-auto border-t border-slate-700">

  </div>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">

      <div class="flex justify-center sm:justify-start">
        <%= link_to root_path do %>
          <%= image_tag "1344-logo.png", alt: "Logo 1344", class: "h-6 hover:rotate-180 hover:duration-300 active:rotate-180 active:duration-300 transition", title: "1344 Solutions - Accueil" %>
        <% end %>
      </div>


      <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
        Copyright &copy; 2024. Tout droit réservé.
      </p>
    </div>
  </div>
</footer>
